<p style="background-color: rgb(154, 154, 255)">
  <label style= "font-size: 40px; color: rgb(0, 0, 204); border: 1cm; text-decoration: underline;"> ChaosLands</label>

  <label style="font-size: 30px; color: rgb(0, 0, 170);" (click)="loadScene(0)"> #Home</label>
  <label style="font-size: 27px; color: rgb(0, 0, 140);"(click)="loadScene(1)"> #Finance/Buy</label>
  <label style="font-size: 24px; color: rgb(0, 0, 110);"(click)="loadScene(2)">  #News/Plans</label>
  <label style="font-size: 21px; color: rgb(0, 0, 49);"(click)="loadScene(5)">  #Volunteers</label>
  <label style="font-size: 30px; color: rgb(138, 0, 119); margin-right: 10%;" (click)="loadScene(3)"> #Instagram</label>

</p>
