<img src="../../assets/ressources/p2 cut.png" width="100%">
<div class="container mt-5 mx-5">
    <label>*you can be the first designer*</label>
    <!--headline 1-->
    <h1 class="circle7">Whats in for you?
    </h1>
  <p class="lightGrey">
    Everybody who wants to help creating chaoslands and which work is good will get money. This page shows, how the 25% of every sold game
    will be split between the volunteers. Short Explanation: Every piece or group of pieces that you submit will be on this website, if you agree. 
    Other people can vote which pieces they like most. The rating of your pieces will determen how much money you will receive. 
    </p>
    <!--headline 2-->
    <h1 class="circle7">Example:
    </h1>
  <p class="lightGrey">
    Lets imagine Lou, Charlie and Blake created one sprite each and submitted it. Lou has drawn a tree, Charlie has drawn a bunny and Blake has drawn a character. Thouse Images are part of the
    game, planned to be in a later version or outdated.
    </p>
    <img src="../../assets/ressources/volunteers/who did what.png" width="50%">
    <!--headline 2 Subheadline 1-->
    <h2 class="circle7">1.Vote</h2>
    <p class="lightGrey">
    Everybody, who either is designer or bought chaoslands is able to distribute 5 points to the pieces of other people. In this example there are 3 Person so there is 
    a total number of 15 Points. Lou passes one point to Charlies bunny and four points to Blakes character design. You can not vote for your own
    pieces.
    </p>
    <img src="../../assets/ressources/volunteers/rating.png" width="50%">
    <!--headline 2 Subheadline 1-->
    <h2 class="circle7">2.Formular</h2>
    <p class="lightGrey">
    Your points can be calculated through the sum of points of every piece you created. Thouse points will be put into this formular. 
    </p>
    <img src="../../assets/ressources/volunteers/formular.png" width="50%">
    <!--headline 2 Subheadline 1-->
    <h2 class="circle7">3.Your Part</h2>
    <p class="lightGrey">
    Lou has 3 points and that makes a income of 1€ per sold game.
    Charile has 4 points and that makes a income of 1.33€ per sold game.
    Blake has 8 points and that makes a income of 2.33€ per sold game.
    </p>
    <img src="../../assets/ressources/volunteers/actaul money you get.png" width="50%" style="margin-bottom: 2.5rem;">
    <h2 class="circle7">So what can you submit?</h2>
    <p class="lightGrey">· sprites or sounds that are outdated or not pretty anymore</p>
    <p class="lightGrey">· e.g. the "next turn" button</p>
    <p class="lightGrey">· e.g. the button and frame design</p>
    <p class="lightGrey">· e.g. background music</p>
    
</div>