<img src="../../assets/ressources/p4.PNG" width="100%">

<!--
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
     <!--automatic pic change after 8000 ms 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/ressources/p1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div src="../../assets/ressources/p2.png" class="slider-image"></div>
      </div>
      <div class="carousel-item">
        <div src="../../assets/ressources/p3.png" class="slider-image"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  -->
   <!--website infos -->
  <div class="container mt-5 mx-5">
    <h1 class="circle7">Home</h1>
    <p class="lightGrey">
      Chaoslands is about following a story and exploring the environment. 
      Also, Chaos Lands has the purpose to educate in a fun way and peek at controversial topics.
      It is not intended to harm somebody or something and if you are easily triggered it might not 
      be the best choice to play this game. Furthermore, Chaoslands shouldnt be played by people with mental
      disorder. 
    </p>
  </div>
  
